<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your Email" name="email" ngModel email required #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is not valid.</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">E-mail must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your Password" #pwInput="ngModel" nome="password" ngModel required minlength="6" maxlength="6" [ngModelOptions]="{standalone: true}">
      <mat-hint>Should be atleast 6 characters long</mat-hint>
      <mat-hint align="end">{{pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input ngModel name="birthday" required matInput placeholder="Your Birthday" [matDatepicker]="picker" [max]="maxDate">
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>You must inform your birthday.</mat-error>
    </mat-form-field>
      <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button [disabled]="!form.valid" type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
